h2
{font: 20px;}

.card
{
padding: 20px;
border-radius: 20px;
background-color: #65bc8b;

}

.card-header
{
    background-color: #81edb0;
    border-radius: 20px;
    color: white;
    text-align: center;
}

table
{
    padding: 10px;
    color: white;
    font-weight: bolder;
}

button
{
    background-color:#2D4059;
    color: aliceblue;
    border-radius: 10px;
    height: 40px;
    width: 100px;
}
button:hover
{
    background-color: azure;
    color: #2D4059;
}

.col-6
{
    background-color: #bfebd2;
    padding: 10px;


    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  
}

.row
{
    margin-top: 10px;

   
}

h3
{
    color: #65bc8b;
}

h2
{
    margin: auto;
    font-size: medium;
}

.form-control
{
    width: 80px;
}

.mon
{
    background-color: #2D4059;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}