<main role="main" class="container center">
  <pb-breadcrumbs>
    <a [routerLink]="['/']">Home / About</a>

  </pb-breadcrumbs>

  <div class="abcard">
  <img src="../../assets/logo.png">

  <h2>BudgetBuddy</h2>
  <span>Welcome to <span class="sb">Budget Buddy</span> – Your Friendly Personal Finance Guide!
    At Budget Buddy, we understand that managing finances can be complex and overwhelming. That's why we've developed a friendly and approachable solution to help you navigate the world of personal budgeting with ease and confidence.
    For any questions or support, reach out to us at <span class="sb">yahire@uncc.edu.</span>
    
    </span>
    <h3>Nbad final Project
      
    </h3>
  </div>

</main>